body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/Moving\ moon.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.start-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}
.form-btn {
  width: 250px;
  height: 50px;
  border: none;
  background: linear-gradient(to right bottom, #a5640f, #b328ac);
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.game-name {
  color: white;
}
.form-btn:hover {
  scale: 1.03;
}

.form-btn:active {
  scale: 0.99;
}

.sbtn {
  text-align: center;
}

.input-field {
  height: 25px;
  width: 300px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right bottom, #f5a75e, #f074ea);
  color: white;
}

.midtext {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #000000;
}

.input-container {
  width: 300px;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right bottom, #f5a75e, #f074ea);
}

.input-container:hover {
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.signup-btn {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right bottom, #f5a75e, #b328ac);
}

.signup-btn:hover {
  scale: 1.03;
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.signup-btn:active {
  scale: 0.9;
}

.goback-btn {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right bottom, #f5a75e, #b328ac);
}

.goback-btn:hover {
  scale: 1.03;
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.goback-btn:active {
  scale: 0.9;
}
