body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "K2D",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/bg.gif);

  background-repeat: no-repeat;
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "K2D";
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10%; */
}

.start-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10%; */
}
.form-btn {
  width: 250px;
  height: 50px;
  border: none;
  background: linear-gradient(to right bottom, #a5640f, #b328ac);
  color: white;
  font-weight: bold;
  font-size: 24px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.game-name {
  color: white;
}
.form-btn:hover {
  scale: 1.03;
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.form-btn:active {
  scale: 0.99;
}

.sbtn {
  text-align: center;
}

.input-field {
  height: 25px;
  width: 300px;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right bottom, #f5a75e, #f074ea);
  color: white;
}

.input-field:hover {
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.midtext {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #000000;
}

.input-container {
  width: 300px;
  height: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right bottom, #f5a75e, #f074ea);
}

.input-container:hover {
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.signup-btn {
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right bottom, #f5a75e, #b328ac);
}

.signup-btn:hover {
  scale: 1.03;
  background: linear-gradient(to right bottom, #ff7b00, #ff00f2);
}

.signup-btn:active {
  scale: 0.9;
}

.login-btn {
  margin-top: 15px;
}

.logout {
  height: 45px;
  width: 95px;
  position: fixed;
  bottom: 70%;
  margin-left: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );
  box-shadow: rgba(240, 46, 170, 0.4) -0px 5px,
    rgba(240, 46, 170, 0.3) -0px 10px, rgba(240, 46, 170, 0.2) -0px 15px,
    rgba(240, 46, 170, 0.1) -0px 20px, rgba(240, 46, 170, 0.05) -0px 25px;
}

.sound {
  height: 45px;
  width: 95px;
  position: fixed;
  bottom: 80%;
  margin-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );
  box-shadow: rgba(240, 46, 170, 0.4) -0px 5px,
    rgba(240, 46, 170, 0.3) -0px 10px, rgba(240, 46, 170, 0.2) -0px 15px,
    rgba(240, 46, 170, 0.1) -0px 20px, rgba(240, 46, 170, 0.05) -0px 25px;
}

.volumeup {
  height: 45px;
  width: 45px;
  position: fixed;
  margin-top: 20px;
  margin-left: 25px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );
  box-shadow: rgba(240, 46, 170, 0.4) -0px 5px,
    rgba(240, 46, 170, 0.3) -0px 10px, rgba(240, 46, 170, 0.2) -0px 15px,
    rgba(240, 46, 170, 0.1) -0px 20px, rgba(240, 46, 170, 0.05) -0px 25px;
}

.volumedown {
  height: 45px;
  width: 45px;
  position: fixed;
  margin-top: 20px;
  margin-left: 75px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );
  box-shadow: rgba(240, 46, 170, 0.4) -0px 5px,
    rgba(240, 46, 170, 0.3) -0px 10px, rgba(240, 46, 170, 0.2) -0px 15px,
    rgba(240, 46, 170, 0.1) -0px 20px, rgba(240, 46, 170, 0.05) -0px 25px;
}

.volumep {
  width: 40px;
  border-radius: 10px;
  padding: 5px;
  margin-left: 130px;
  margin-top: 25px;
  position: fixed;
  font-size: medium;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );
  box-shadow: rgba(240, 46, 170, 0.4) -0px 5px,
    rgba(240, 46, 170, 0.3) -0px 10px, rgba(240, 46, 170, 0.2) -0px 15px,
    rgba(240, 46, 170, 0.1) -0px 20px, rgba(240, 46, 170, 0.05) -0px 25px;
}
.btn-true {
  margin-top: 25px;
  color: #00f800;
  text-shadow: -1px -1px #000;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.btn-false {
  margin-top: 25px;
  color: red;
  text-shadow: -1px -1px #000;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  margin-left: 15px;
  background: linear-gradient(
    174deg,
    rgba(63, 94, 251, 1) 1%,
    rgb(234, 70, 252) 90%
  );

  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.logo {
  margin-top: 10%;
  margin-bottom: 40px;
}

.info-flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "K2D", sans-serif;
  /* margin-top: 50px; */
}

.lives {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.stopwatch {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.score {
  height: 100px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

#logo {
  animation: grow-shrink 1s infinite;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
